[submodule "SwerveIO"]
    path = SwerveIO
    url = https://git.bancino.net/robotics/SwerveIO.git
[submodule "LibOI"]
    path = LibOI
    url = https://git.bancino.net/robotics/LibOI.git
[submodule "JLimelight"]
    path = JLimelight
    url = https://git.bancino.net/robotics/JLimelight.git